<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Address</title>
</head>
<body>
    <h2>Welcome to my website</h2>
    <p>Reverse IP address: <strong>{{ reversed_ip }}</strong></p>
</body>
</html>